body {
    font-family: Verdana, sans-serif;
    font-size: 9px;
    color: #222;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

@media (min-width: 900px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 3em;
    }

    header {
        padding: 50px 0 30px;
    }

    .questions {
        width: 75%;
    }

    .question-answer:hover {
        border-color: rgba(0, 0, 0, .5);
    }

    .question-answer:focus {
        outline: gray solid 1px;
    }

    .correct-modal {
        height: 300px;
    }

    .answer-drop-div {
        width: 50px !important;
        height: 50px !important;
    }

    .answer-box-drop-div {
        width: 50px !important;
        height: 50px !important;
    }

    .order-answer-drop-div {
        width: 50px !important;
        height: 50px !important;
    }

    .dd-grid-image-column {
        width: 10% !important;
    }

    .dd-grid-ans-box-column {
        width: 10% !important;
    }

    .help-count-grid-column {
        width: 40px !important;
        margin-right: 10px !important;
    }


}

@media (min-width: 1000px) {
    .image-grid-column {
        width: 7.5% !important;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 16px;
    }

    .correct-modal {
        height: 400px;
    }
}

@media (min-width: 1600px) {
    body {
        overflow: hidden;
    }
}

h1 {
    font-weight: normal;
    font-size: 2.25em;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    margin: 0 0 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

ul {
    padding: 0;
}

p {
    margin: 0;
}

span {
    pointer-events: none;
}

code {
    font-family: monospace;
    font-size: .8em;
    font-weight: 100;
    pointer-events: none;
    background: rgba(0, 0, 0, .09);
    padding: 3px 4px;
    margin: 0 2px;
}

.question {
    display: none;
    animation: slide-in .4s ease;
}

.question:first-child {
    display: block;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.question-panel {
    /*padding: 15px;*/
}

.info-panel {
    text-align: center;
    margin: 5px;
}

.stats-container {
    float: left;
    margin-right: 1%;
    width: 32%;
    border-radius: 0.5rem;
}

.time-elapsed-stats-content {
    padding: 0.22rem;
}

.problems-attempted-stats-container,
.score-and-link-container,
.time-elapsed-stats-container {
    background-color: #E3E3E3C6;
}

.txt-question-answered {
    display: block !important;
}

.txt-time-elapsed {
    display: block;
}

.stats-content {
    text-align: center;
    align-content: center;
}

.problems-attempted-stats-content {
    color: #777368;
    font: bold 25px Verdana, sans-serif;
    padding: 0.2rem;
}

.score-stats-content {
    color: #777368;
    font: bold 25px Verdana, sans-serif;
    padding: 0.2rem;
}

.practice-timer {
    margin-left: auto;
    margin-right: auto;
}

.practice-timer td {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    color: #586656;
    font-size: 12px;
    height: 22px;
    line-height: 1em;
    padding-top: 1px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    border-radius: 0.2rem;
}

.stats-header {
    box-sizing: border-box;
    color: #fff;
    font: 12px Verdana, sans-serif;
    padding: 6px;
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.all-count {
    font-size: 15px;
    color: black;
}

.problems-attempted-stats-header {
    background-color: #46cd46;
}

.time-elapsed-stats-header {
    background-color: #419ae2;
}

.score-stats-header {
    background-color: #e05d7c;
}

.question-title {
    font: 20px/1.4 Verdana, sans-serif;
}

.question-txt {
    font: 2rem Verdana, sans-serif;
    justify-content: center;
}

.submit-button {
    cursor: pointer;
    padding: .5rem 1rem;
    color: white;
    font: 1rem Verdana, sans-serif;
    background-color: #46cd46;
    border: 1px solid transparent;
    border-radius: 0.2rem;
}

.submit-button:hover {
    background-color: #40af40;
}

.submit-button-holder {
    margin-top: -1.5rem;
    margin-left: 10px;
}

/* question styles ------------------------------------------- */
/* q1 */
.main-container {
    margin-left: 10px;
}

.q1-main-image {
    height: 150px;
    width: fit-content;
}

.q1-answer-block,
.q2-answer-block,
.q3-answer-block,
.q4-answer-block,
.q5-answer-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.q1-single-answer,
.q2-single-answer,
.q3-single-answer,
.q4-single-answer,
.q5-single-answer {
    width: 100px;
    border-radius: 2px;
    background-color: white;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #64B8FF93;
    margin-right: 15px;
}

.q1-single-answer:hover,
.q2-single-answer:hover,
.q3-single-answer:hover,
.q4-single-answer:hover,
.q5-single-answer:hover {
    border-color: #3B95E0FF;
}

@media (max-width: 640px) {
    .q1-main-image {
        height: 23vw;
    }
}

@media (max-width: 470px) {
    .q1-single-answer {
        width: 23vw;
        font-size: 4vw;
        height: 12vw;
        margin-right: 3vw;
    }

    .q2-single-answer,
    .q5-single-answer {
        width: 23vw;
        font-size: 16px;
        height: 40px;
        margin-right: 3vw;
    }
}

/* q2 */
.q2-main-image {
    height: 200px;
    width: fit-content;
}

@media (max-width: 420px) {
    .q2-main-image {
        height: 40vw;
    }
}

/* q3 */
.q3-main-image {
    width: 700px;
    height: 200px;
}

.q3-single-answer,
.q4-single-answer {
    width: 120px;
}

@media (max-width: 720px) {
    .q3-main-image {
        width: 90%;
        height: 30vw;
    }

    .q3-single-answer,
    .q4-single-answer {
        font-size: 16px;
    }
}

@media (max-width: 470px) {
    .q3-answer-block,
    .q4-answer-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .q3-single-answer,
    .q4-single-answer {
        margin-bottom: 15px;
        height: 50px;
    }
}

/* q4 */
.q4-main-image {
    width: 400px;
}

@media (max-width: 410px) {
    .q4-main-image {
        width: 90%;
    }
}

/* q6 */
.q6-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}

.q6-single-grid,
.q6-single-grid-special {
    font-size: 20px;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.q6-single-grid-special {
    width: 100px;
}

.q6-blank-div {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.q6-blank {
    border-bottom: 1px solid black;
    width: 40%;
    height: 60%;
}

@media (max-width: 430px) {
    .q6-single-grid,
    .q6-single-grid-special {
        font-size: 14px;
        width: 35vw;
        height: 15vw;
    }

    .q6-single-grid-special {
        width: 20vw;
    }

}
