/* BASE */
body {
    font-family: Manrope, sans-serif;
    font-size: 9px;
    color: #222;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-1px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translateX(-1px);
    }
    20%,
    80% {
        transform: translateX(1px);
    }
    30%,
    50%,
    70% {
        transform: translateX(-2px);
    }
    45%,
    55% {
        transform: translateX(2px);
    }
}

@media (min-width: 600px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 900px) {
    .answer-drop-div {
        width: 50px !important;
        height: 50px !important;
    }

    .answer-box-drop-div {
        width: 50px !important;
        height: 50px !important;
    }

    .dd-grid-image-column {
        width: 10% !important;
    }

    .dd-grid-ans-box-column {
        width: 10% !important;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1600px) {
    body {
        overflow: hidden;
    }
}

@keyframes modal-enter {
    0% {
        visibility: visible;
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    85% {
        opacity: 1;
        transform: scale(1);
    }
    99% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        display: none;
        transform: scale(1);
    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

ul {
    padding: 0;
}

p {
    margin: 0;
}

span {
    pointer-events: none;
}

table,
tr,
td,
th {
    border: 1px solid #4faeffff;
    border-collapse: collapse;
    font-size: 20px;
}

/*todo: no use in this activity*/
table {
    margin-right: 10px;
}

th {
    text-align: center;
    height: 40px;
}

td {
    width: 250px;
    height: 50px;
    text-align: center;
}

/*APP*/
#app {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 960px;
    width: 100%;
    max-height: 640px;
    height: 98%;
    background-image: url('../img/desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    border-radius: 2px;
}

.question-panel {
    margin: 3%;
    width: 94%;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.question {
    display: none;
    animation: slide-in 1s ease;
}

.question:first-child {
    display: block;
}

.question-hide {
    display: none;
    animation: slide-in 0.4s ease;
}

.question-display {
    display: block;
    font-size: 2em;
    animation: slide-in 0.4s ease;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 95%;
}

.info-panel {
    text-align: center;
    margin: 5px 0px;
}

.stats-container {
    float: left;
    margin-right: 1%;
    width: 32%;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.problems-attempted-stats-container,
.score-and-link-container,
.time-elapsed-stats-container {
    background-color: #ffffff;
}

.txt-question-answered {
    display: block !important;
}

.txt-time-elapsed {
    display: block;
}

.stats-content {
    text-align: center;
    align-content: center;
}

.problems-attempted-stats-content {
    color: #777368;
    font: bold 18px Manrope, sans-serif;
    padding: 0.2rem;
}

.score-stats-content {
    color: #777368;
    font: bold 18px Manrope, sans-serif;
    padding: 0.2rem;
}

.practice-timer {
    margin-left: auto;
    margin-right: auto;
}

.stats-header {
    box-sizing: border-box;
    color: #fff;
    font: 12px Manrope, sans-serif;
    padding: 4px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.all-count {
    font-size: 12px;
    color: black;
}

.problems-attempted-stats-header {
    background-color: #70C1FF;
}

.time-elapsed-stats-header {
    background-color: #F3BE7C;
}

.time-elapsed-stats-content {
    color: #777368;
    font: 14px Manrope, sans-serif;
    line-height: 21px;
    padding: 0.2rem;
}

.score-stats-header {
    background-color: #7DDE92;
}

.question-title-box {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.question-title-text {
    font-size: 16px;
    font-family: Manrope, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 4px #959595;
}

.q19-submit-button {
    cursor: pointer;
    background: white;
    border-radius: 8px;
    padding: 10px;
    display: block;
    border: 4px solid #4bd484;
    font-weight: 700;
    font-size: 16px;
    color: #4bd484;
    width: 200px;
    font-family: Manrope, sans-serif;
    box-shadow: 0 7px 7px #777777;
}

.q19-submit-button:active {
    background-color: #4bd484;
    box-shadow: 0 5px 5px #444444;
    transform: translateY(3px);
}

.q19-submit-button:hover {
    color: white;
    background-color: #4bd484;
}

/* QUESTION STYLES */
.q19-image-container {
    margin-left: 10px;
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.q19-sub-single-addition {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.q19-number-container {
    margin-right: 5px;
}

.q19-number-container-input {
    outline: none;
    text-align: center;
    width: 40px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f3f332;
    border: 1px solid green;
    box-shadow: 0 5px 5px #888888;
}

.q19-number-container input[type=text]:hover {
    border: solid 1px #3B95E0FF; /*#3B95E0FF;*/
}

.q19-number-container input[type=text]:focus {
    border: solid 1px #3B95E0FF;
}

@media (max-width: 400px) {
    .q19-image-container {
        width: 80%;
    }
}


/* -------------- next question popup style start ----------- */

.popup-container {
    display: none;
    position: fixed;
    z-index: 3 !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 960px;
    max-height: 640px;
}

.popup {
    background-color: white;
    width: 340px;
    /*height: 340px;*/
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup-upper {
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    align-items: center;
    background-color: white;
}

.close-icon {
    color: rgba(97, 96, 96, 0.5);
}

.popup-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid black; */
    padding: 2px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.check-img {
    width: 250px;
    height: 250px;
}

.popup-lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6FCF97;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.popup-great {
    font-size: 40px;
    color: black;
    font-weight: bold;
    /* border: 1px solid black; */
}

.popup-msg {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: bold;
}

.explore-arrow {
    color: black;
}

.popup-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    color: #FFB52E;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 4px solid #FFB52E;
    box-shadow: 0 7px 7px #777777;
    transition: 0.25s;
    font-weight: bold;
    font-size: 16px;
}

.popup-action:hover {
    background-color: #FFB52E;
    color: white;
}

.popup-action:active {
    background-color: #FFB52E;
    color: white;
    box-shadow: 0 5px 5px #444444;
    transform: translateY(3px);
}

@media (max-width: 750px) {
    .popup {
        width: 250px;
        height: auto;
    }

    .check-img {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 400px) {
    .popup {
        width: 220px;
        height: auto;
    }

    .check-img {
        width: 150px;
        height: 150px;
    }
}

.animation1 {
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 8%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.incorrect-answer {
    animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* -------------- next question popup style ends ----------- */
