/* BASE */
body {
    font-family: Manrope, sans-serif;
    font-size: 9px;
    color: #222;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-1px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translateX(-1px);
    }
    20%,
    80% {
        transform: translateX(1px);
    }
    30%,
    50%,
    70% {
        transform: translateX(-2px);
    }
    45%,
    55% {
        transform: translateX(2px);
    }
}

@media (min-width: 600px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 900px) {
    .answer-drop-div {
        width: 50px !important;
        height: 50px !important;
    }

    .answer-box-drop-div {
        width: 50px !important;
        height: 50px !important;
    }

    .dd-grid-image-column {
        width: 10% !important;
    }

    .dd-grid-ans-box-column {
        width: 10% !important;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1600px) {
    body {
        overflow: hidden;
    }
}

@keyframes modal-enter {
    0% {
        visibility: visible;
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    85% {
        opacity: 1;
        transform: scale(1);
    }
    99% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        display: none;
        transform: scale(1);
    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

ul {
    padding: 0;
}

p {
    margin: 0;
}

span {
    pointer-events: none;
}

table,
tr,
td,
th {
    border: 1px solid #4faeffff;
    border-collapse: collapse;
    font-size: 20px;
}

/*todo: no use in this activity*/
table {
    margin-right: 10px;
}

th {
    text-align: center;
    height: 40px;
}

td {
    width: 250px;
    height: 50px;
    text-align: center;
}

/*APP*/
#app {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 960px;
    width: 100%;
    max-height: 640px;
    height: 98%;
    background-image: url('../img/desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    border-radius: 2px;
}

.question-panel {
    margin: 3%;
    width: 94%;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.question {
    display: none;
    animation: slide-in 1s ease;
}

.question:first-child {
    display: block;
}

.question-hide {
    display: none;
    animation: slide-in 0.4s ease;
}

.question-display {
    display: block;
    font-size: 2em;
    animation: slide-in 0.4s ease;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 95%;
}

.info-panel {
    text-align: center;
    margin: 5px 0px;
}

.stats-container {
    float: left;
    margin-right: 1%;
    width: 32%;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.problems-attempted-stats-container,
.score-and-link-container,
.time-elapsed-stats-container {
    background-color: #ffffff;
}

.txt-question-answered {
    display: block !important;
}

.txt-time-elapsed {
    display: block;
}

.stats-content {
    text-align: center;
    align-content: center;
}

.problems-attempted-stats-content {
    color: #777368;
    font: bold 18px Manrope, sans-serif;
    padding: 0.2rem;
}

.score-stats-content {
    color: #777368;
    font: bold 18px Manrope, sans-serif;
    padding: 0.2rem;
}

.practice-timer {
    margin-left: auto;
    margin-right: auto;
}

.stats-header {
    box-sizing: border-box;
    color: #fff;
    font: 12px Manrope, sans-serif;
    padding: 4px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.all-count {
    font-size: 12px;
    color: black;
}

.problems-attempted-stats-header {
    background-color: #70C1FF;
}

.time-elapsed-stats-header {
    background-color: #F3BE7C;
}

.time-elapsed-stats-content {
    color: #777368;
    font: 14px Manrope, sans-serif;
    line-height: 21px;
    padding: 0.2rem;
}

.score-stats-header {
    background-color: #7DDE92;
}

.question-title-box {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.question-title-text {
    font-size: 16px;
    font-family: Manrope, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 4px #959595;
}

.q1-submit-button {
    cursor: pointer;
    background: white;
    border-radius: 8px;
    padding: 10px;
    display: block;
    border: 4px solid #4bd484;
    font-weight: 700;
    font-size: 16px;
    color: #4bd484;
    width: 200px;
    font-family: Manrope, sans-serif;
    box-shadow: 0 7px 7px #777777;
}

.q1-submit-button:hover {
    background: #25c96a;
}

/* QUESTION STYLES */
.q18-image-container {
    height: 120px;
    width: auto;
    display: inline-flex;
}

.q18-image-container > img {
    margin-right: 15px;
}

.q18-answer-div {
    display: inline-flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    width: 80px;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    font-family: Manrope, sans-serif;
    outline: none;
    color: white;
}

.q18-btn-color {
    background: #5adbf5;
    border: 4px solid rgba(0, 0, 0, 0.16);
}

.q18-btn-color:hover {
    background: #21bfde;
}

.q18-wrong {
    background: #FF0000A8;
    border: 4px solid rgba(0, 0, 0, 0.16);
}

@media (max-width: 680px) {
    .q18-image-container {
        height: 18vw;
        width: 95%;
    }

    .q18-image-container > img {
        margin-right: 10px;
    }
}

@media (max-width: 400px) {
    .q18-image-container {
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 30vw 30vw;
        justify-content: center;
        align-items: center;
        grid-gap: 10px;
    }

    .q18-image-container > img {
        margin-right: 0;
    }

    .q18-answer-div {
        width: 95%;
    }

    button {
        width: 20vw;
        padding: 7px;
        font-size: 14px;
    }
}

