.container {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 960px;
    width: 100%;
    max-height: 640px;
    height: 98%;
}

.circle-container {
    position: absolute;
    transform: translateY(-10vh);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.circle-container .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(#99ffff, #99ffff 10%, rgba(153, 255, 255, 0) 56%);
    -webkit-animation: fadein-frames 200ms infinite, scale-frames 1s infinite;
    animation: fadein-frames 200ms infinite, scale-frames 1s infinite;
}

@-webkit-keyframes fade-frames {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-frames {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes scale-frames {
    0% {
        transform: scale3d(0.4, 0.4, 1);
    }
    50% {
        transform: scale3d(2.2, 2.2, 1);
    }
    100% {
        transform: scale3d(0.4, 0.4, 1);
    }
}

@keyframes scale-frames {
    0% {
        transform: scale3d(0.4, 0.4, 1);
    }
    50% {
        transform: scale3d(2.2, 2.2, 1);
    }
    100% {
        transform: scale3d(0.4, 0.4, 1);
    }
}

.circle-container:nth-child(1) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-1;
    animation-name: move-frames-1;
    -webkit-animation-duration: 28083ms;
    animation-duration: 28083ms;
    -webkit-animation-delay: 353ms;
    animation-delay: 353ms;
}

@-webkit-keyframes move-frames-1 {
    from {
        transform: translate3d(60vw, 10vh, 0);
    }
    to {
        transform: translate3d(99vw, -20vh, 0);
    }
}

@keyframes move-frames-1 {
    from {
        transform: translate3d(60vw, 10vh, 0);
    }
    to {
        transform: translate3d(99vw, -20vh, 0);
    }
}

.circle-container:nth-child(1) .circle {
    -webkit-animation-delay: 106ms;
    animation-delay: 106ms;
}

.circle-container:nth-child(2) {
    width: 2px;
    height: 2px;
    -webkit-animation-name: move-frames-2;
    animation-name: move-frames-2;
    -webkit-animation-duration: 31369ms;
    animation-duration: 31369ms;
    -webkit-animation-delay: 1296ms;
    animation-delay: 1296ms;
}

@-webkit-keyframes move-frames-2 {
    from {
        transform: translate3d(70vw, 10vh, 0);
    }
    to {
        transform: translate3d(23vw, -125vh, 0);
    }
}

@keyframes move-frames-2 {
    from {
        transform: translate3d(70vw, 10vh, 0);
    }
    to {
        transform: translate3d(23vw, -125vh, 0);
    }
}

.circle-container:nth-child(2) .circle {
    -webkit-animation-delay: 3087ms;
    animation-delay: 3087ms;
}

.circle-container:nth-child(3) {
    width: 2px;
    height: 2px;
    -webkit-animation-name: move-frames-3;
    animation-name: move-frames-3;
    -webkit-animation-duration: 34759ms;
    animation-duration: 34759ms;
    -webkit-animation-delay: 204ms;
    animation-delay: 204ms;
}

@-webkit-keyframes move-frames-3 {
    from {
        transform: translate3d(47vw, 10vh, 0);
    }
    to {
        transform: translate3d(70vw, -128vh, 0);
    }
}

@keyframes move-frames-3 {
    from {
        transform: translate3d(47vw, 10vh, 0);
    }
    to {
        transform: translate3d(70vw, -128vh, 0);
    }
}

.circle-container:nth-child(3) .circle {
    -webkit-animation-delay: 756ms;
    animation-delay: 756ms;
}

.circle-container:nth-child(4) {
    width: 1px;
    height: 1px;
    -webkit-animation-name: move-frames-4;
    animation-name: move-frames-4;
    -webkit-animation-duration: 36835ms;
    animation-duration: 36835ms;
    -webkit-animation-delay: 235ms;
    animation-delay: 235ms;
}

@-webkit-keyframes move-frames-4 {
    from {
        transform: translate3d(45vw, 10vh, 0);
    }
    to {
        transform: translate3d(8vw, -118vh, 0);
    }
}

@keyframes move-frames-4 {
    from {
        transform: translate3d(45vw, 10vh, 0);
    }
    to {
        transform: translate3d(8vw, -118vh, 0);
    }
}

.circle-container:nth-child(4) .circle {
    -webkit-animation-delay: 1451ms;
    animation-delay: 1451ms;
}

.circle-container:nth-child(5) {
    width: 1px;
    height: 1px;
    -webkit-animation-name: move-frames-5;
    animation-name: move-frames-5;
    -webkit-animation-duration: 30142ms;
    animation-duration: 30142ms;
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
}

@-webkit-keyframes move-frames-5 {
    from {
        transform: translate3d(41vw, 10vh, 0);
    }
    to {
        transform: translate3d(86vw, -20vh, 0);
    }
}

@keyframes move-frames-5 {
    from {
        transform: translate3d(41vw, 10vh, 0);
    }
    to {
        transform: translate3d(86vw, -20vh, 0);
    }
}

.circle-container:nth-child(5) .circle {
    -webkit-animation-delay: 1751ms;
    animation-delay: 1751ms;
}

.circle-container:nth-child(6) {
    width: 5px;
    height: 5px;
    -webkit-animation-name: move-frames-6;
    animation-name: move-frames-6;
    -webkit-animation-duration: 36803ms;
    animation-duration: 36803ms;
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
}

@-webkit-keyframes move-frames-6 {
    from {
        transform: translate3d(94vw, 10vh, 0);
    }
    to {
        transform: translate3d(33vw, -10vh, 0);
    }
}

@keyframes move-frames-6 {
    from {
        transform: translate3d(94vw, 20vh, 0);
    }
    to {
        transform: translate3d(33vw, -10vh, 0);
    }
}

.circle-container:nth-child(6) .circle {
    -webkit-animation-delay: 1274ms;
    animation-delay: 1274ms;
}

.circle-container:nth-child(7) {
    width: 6px;
    height: 6px;
    -webkit-animation-name: move-frames-7;
    animation-name: move-frames-7;
    -webkit-animation-duration: 28571ms;
    animation-duration: 28571ms;
    -webkit-animation-delay: 260ms;
    animation-delay: 260ms;
}

@-webkit-keyframes move-frames-7 {
    from {
        transform: translate3d(84vw, 20vh, 0);
    }
    to {
        transform: translate3d(39vw, -136vh, 0);
    }
}

@keyframes move-frames-7 {
    from {
        transform: translate3d(84vw, 20vh, 0);
    }
    to {
        transform: translate3d(39vw, -136vh, 0);
    }
}

.circle-container:nth-child(7) .circle {
    -webkit-animation-delay: 2607ms;
    animation-delay: 2607ms;
}

.circle-container:nth-child(8) {
    width: 5px;
    height: 5px;
    -webkit-animation-name: move-frames-8;
    animation-name: move-frames-8;
    -webkit-animation-duration: 32029ms;
    animation-duration: 32029ms;
    -webkit-animation-delay: 310ms;
    animation-delay: 310ms;
}

@-webkit-keyframes move-frames-8 {
    from {
        transform: translate3d(88vw, 20vh, 0);
    }
    to {
        transform: translate3d(85vw, -10vh, 0);
    }
}

@keyframes move-frames-8 {
    from {
        transform: translate3d(88vw, 20vh, 0);
    }
    to {
        transform: translate3d(85vw, -10vh, 0);
    }
}

.circle-container:nth-child(8) .circle {
    -webkit-animation-delay: 2499ms;
    animation-delay: 2499ms;
}

.circle-container:nth-child(9) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-9;
    animation-name: move-frames-9;
    -webkit-animation-duration: 30376ms;
    animation-duration: 30376ms;
    -webkit-animation-delay: 105ms;
    animation-delay: 105ms;
}

@-webkit-keyframes move-frames-9 {
    from {
        transform: translate3d(46vw, 20vh, 0);
    }
    to {
        transform: translate3d(20vw, -134vh, 0);
    }
}

@keyframes move-frames-9 {
    from {
        transform: translate3d(46vw, 20vh, 0);
    }
    to {
        transform: translate3d(20vw, -134vh, 0);
    }
}

.circle-container:nth-child(9) .circle {
    -webkit-animation-delay: 2310ms;
    animation-delay: 2310ms;
}

.circle-container:nth-child(10) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-10;
    animation-name: move-frames-10;
    -webkit-animation-duration: 30321ms;
    animation-duration: 30321ms;
    -webkit-animation-delay: 203ms;
    animation-delay: 203ms;
}

@-webkit-keyframes move-frames-10 {
    from {
        transform: translate3d(2vw, 20vh, 0);
    }
    to {
        transform: translate3d(80vw, -137vh, 0);
    }
}

@keyframes move-frames-10 {
    from {
        transform: translate3d(2vw, 20vh, 0);
    }
    to {
        transform: translate3d(80vw, -137vh, 0);
    }
}

.circle-container:nth-child(10) .circle {
    -webkit-animation-delay: 1679ms;
    animation-delay: 1679ms;
}

.circle-container:nth-child(11) {
    width: 5px;
    height: 5px;
    -webkit-animation-name: move-frames-11;
    animation-name: move-frames-11;
    -webkit-animation-duration: 31027ms;
    animation-duration: 31027ms;
    -webkit-animation-delay: 203ms;
    animation-delay: 203ms;
}

@-webkit-keyframes move-frames-11 {
    from {
        transform: translate3d(90vw, 20vh, 0);
    }
    to {
        transform: translate3d(96vw, -15vh, 0);
    }
}

@keyframes move-frames-11 {
    from {
        transform: translate3d(90vw, 20vh, 0);
    }
    to {
        transform: translate3d(96vw, -15vh, 0);
    }
}

.circle-container:nth-child(11) .circle {
    -webkit-animation-delay: 3416ms;
    animation-delay: 3416ms;
}

.circle-container:nth-child(12) {
    width: 8px;
    height: 8px;
    -webkit-animation-name: move-frames-12;
    animation-name: move-frames-12;
    -webkit-animation-duration: 33497ms;
    animation-duration: 33497ms;
    -webkit-animation-delay: 20ms;
    animation-delay: 20ms;
}

@-webkit-keyframes move-frames-12 {
    from {
        transform: translate3d(40vw, 30vh, 0);
    }
    to {
        transform: translate3d(26vw, -133vh, 0);
    }
}

@keyframes move-frames-12 {
    from {
        transform: translate3d(40vw, 30vh, 0);
    }
    to {
        transform: translate3d(26vw, -133vh, 0);
    }
}

.circle-container:nth-child(12) .circle {
    -webkit-animation-delay: 3150ms;
    animation-delay: 3150ms;
}

.circle-container:nth-child(13) {
    width: 3px;
    height: 3px;
    -webkit-animation-name: move-frames-13;
    animation-name: move-frames-13;
    -webkit-animation-duration: 31901ms;
    animation-duration: 31901ms;
    -webkit-animation-delay: 15ms;
    animation-delay: 15ms;
}

@-webkit-keyframes move-frames-13 {
    from {
        transform: translate3d(89vw, 30vh, 0);
    }
    to {
        transform: translate3d(46vw, -16vh, 0);
    }
}

@keyframes move-frames-13 {
    from {
        transform: translate3d(89vw, 30vh, 0);
    }
    to {
        transform: translate3d(46vw, -16vh, 0);
    }
}

.circle-container:nth-child(13) .circle {
    -webkit-animation-delay: 3425ms;
    animation-delay: 3425ms;
}

.circle-container:nth-child(14) {
    width: 5px;
    height: 5px;
    -webkit-animation-name: move-frames-14;
    animation-name: move-frames-14;
    -webkit-animation-duration: 31898ms;
    animation-duration: 31898ms;
    -webkit-animation-delay: 10ms;
    animation-delay: 10ms;
}

@-webkit-keyframes move-frames-14 {
    from {
        transform: translate3d(23vw, 30vh, 0);
    }
    to {
        transform: translate3d(14vw, -127vh, 0);
    }
}

@keyframes move-frames-14 {
    from {
        transform: translate3d(23vw, 30vh, 0);
    }
    to {
        transform: translate3d(14vw, -127vh, 0);
    }
}

.circle-container:nth-child(14) .circle {
    -webkit-animation-delay: 3800ms;
    animation-delay: 3800ms;
}

.circle-container:nth-child(15) {
    width: 2px;
    height: 2px;
    -webkit-animation-name: move-frames-15;
    animation-name: move-frames-15;
    -webkit-animation-duration: 30386ms;
    animation-duration: 30386ms;
    -webkit-animation-delay: 10ms;
    animation-delay: 10ms;
}

@-webkit-keyframes move-frames-15 {
    from {
        transform: translate3d(100vw, 30vh, 0);
    }
    to {
        transform: translate3d(7vw, -138vh, 0);
    }
}

@keyframes move-frames-15 {
    from {
        transform: translate3d(100vw, 30vh, 0);
    }
    to {
        transform: translate3d(7vw, -138vh, 0);
    }
}

.circle-container:nth-child(15) .circle {
    -webkit-animation-delay: 1683ms;
    animation-delay: 1683ms;
}

.circle-container:nth-child(16) {
    width: 1px;
    height: 1px;
    -webkit-animation-name: move-frames-16;
    animation-name: move-frames-16;
    -webkit-animation-duration: 36599ms;
    animation-duration: 36599ms;
    -webkit-animation-delay: 20ms;
    animation-delay: 20ms;
}

@-webkit-keyframes move-frames-16 {
    from {
        transform: translate3d(60vw, 30vh, 0);
    }
    to {
        transform: translate3d(49vw, -123vh, 0);
    }
}

@keyframes move-frames-16 {
    from {
        transform: translate3d(60vw, 30vh, 0);
    }
    to {
        transform: translate3d(49vw, -123vh, 0);
    }
}

.circle-container:nth-child(16) .circle {
    -webkit-animation-delay: 350ms;
    animation-delay: 350ms;
}

.circle-container:nth-child(17) {
    width: 3px;
    height: 3px;
    -webkit-animation-name: move-frames-17;
    animation-name: move-frames-17;
    -webkit-animation-duration: 34596ms;
    animation-duration: 34596ms;
    -webkit-animation-delay: 35ms;
    animation-delay: 35ms;
}

@-webkit-keyframes move-frames-17 {
    from {
        transform: translate3d(20vw, 30vh, 0);
    }
    to {
        transform: translate3d(91vw, -136vh, 0);
    }
}

@keyframes move-frames-17 {
    from {
        transform: translate3d(20vw, 40vh, 0);
    }
    to {
        transform: translate3d(91vw, -136vh, 0);
    }
}

.circle-container:nth-child(17) .circle {
    -webkit-animation-delay: 234ms;
    animation-delay: 234ms;
}

.circle-container:nth-child(18) {
    width: 7px;
    height: 7px;
    -webkit-animation-name: move-frames-18;
    animation-name: move-frames-18;
    -webkit-animation-duration: 34401ms;
    animation-duration: 34401ms;
    -webkit-animation-delay: 35386ms;
    animation-delay: 35386ms;
}

@-webkit-keyframes move-frames-18 {
    from {
        transform: translate3d(78vw, 40vh, 0);
    }
    to {
        transform: translate3d(26vw, -123vh, 0);
    }
}

@keyframes move-frames-18 {
    from {
        transform: translate3d(78vw, 40vh, 0);
    }
    to {
        transform: translate3d(26vw, -123vh, 0);
    }
}

.circle-container:nth-child(18) .circle {
    -webkit-animation-delay: 809ms;
    animation-delay: 809ms;
}

.circle-container:nth-child(19) {
    width: 5px;
    height: 5px;
    -webkit-animation-name: move-frames-19;
    animation-name: move-frames-19;
    -webkit-animation-duration: 29371ms;
    animation-duration: 29371ms;
    -webkit-animation-delay: 15775ms;
    animation-delay: 15775ms;
}

@-webkit-keyframes move-frames-19 {
    from {
        transform: translate3d(1vw, 40vh, 0);
    }
    to {
        transform: translate3d(14vw, -16vh, 0);
    }
}

@keyframes move-frames-19 {
    from {
        transform: translate3d(1vw, 40vh, 0);
    }
    to {
        transform: translate3d(14vw, -16vh, 0);
    }
}

.circle-container:nth-child(19) .circle {
    -webkit-animation-delay: 580ms;
    animation-delay: 580ms;
}

.circle-container:nth-child(20) {
    width: 7px;
    height: 7px;
    -webkit-animation-name: move-frames-20;
    animation-name: move-frames-20;
    -webkit-animation-duration: 30145ms;
    animation-duration: 30145ms;
    -webkit-animation-delay: 5377ms;
    animation-delay: 5377ms;
}

@-webkit-keyframes move-frames-20 {
    from {
        transform: translate3d(33vw, 40vh, 0);
    }
    to {
        transform: translate3d(23vw, -129vh, 0);
    }
}

@keyframes move-frames-20 {
    from {
        transform: translate3d(33vw, 40vh, 0);
    }
    to {
        transform: translate3d(23vw, -129vh, 0);
    }
}

.circle-container:nth-child(20) .circle {
    -webkit-animation-delay: 2779ms;
    animation-delay: 2779ms;
}

.circle-container:nth-child(21) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-21;
    animation-name: move-frames-21;
    -webkit-animation-duration: 33963ms;
    animation-duration: 33963ms;
    -webkit-animation-delay: 23656ms;
    animation-delay: 23656ms;
}

@-webkit-keyframes move-frames-21 {
    from {
        transform: translate3d(58vw, 40vh, 0);
    }
    to {
        transform: translate3d(63vw, -118vh, 0);
    }
}

@keyframes move-frames-21 {
    from {
        transform: translate3d(58vw, 40vh, 0);
    }
    to {
        transform: translate3d(63vw, -118vh, 0);
    }
}

.circle-container:nth-child(21) .circle {
    -webkit-animation-delay: 2193ms;
    animation-delay: 2193ms;
}

.circle-container:nth-child(22) {
    width: 6px;
    height: 6px;
    -webkit-animation-name: move-frames-22;
    animation-name: move-frames-22;
    -webkit-animation-duration: 30658ms;
    animation-duration: 30658ms;
    -webkit-animation-delay: 36636ms;
    animation-delay: 36636ms;
}

@-webkit-keyframes move-frames-22 {
    from {
        transform: translate3d(65vw, 40vh, 0);
    }
    to {
        transform: translate3d(90vw, -120vh, 0);
    }
}

@keyframes move-frames-22 {
    from {
        transform: translate3d(65vw, 40vh, 0);
    }
    to {
        transform: translate3d(90vw, -120vh, 0);
    }
}

.circle-container:nth-child(22) .circle {
    -webkit-animation-delay: 25ms;
    animation-delay: 25ms;
}

.circle-container:nth-child(23) {
    width: 3px;
    height: 3px;
    -webkit-animation-name: move-frames-23;
    animation-name: move-frames-23;
    -webkit-animation-duration: 31025ms;
    animation-duration: 31025ms;
    -webkit-animation-delay: 33798ms;
    animation-delay: 33798ms;
}

@-webkit-keyframes move-frames-23 {
    from {
        transform: translate3d(64vw, 50vh, 0);
    }
    to {
        transform: translate3d(16vw, -13vh, 0);
    }
}

@keyframes move-frames-23 {
    from {
        transform: translate3d(64vw, 50vh, 0);
    }
    to {
        transform: translate3d(16vw, -13vh, 0);
    }
}

.circle-container:nth-child(23) .circle {
    -webkit-animation-delay: 1271ms;
    animation-delay: 1271ms;
}

.circle-container:nth-child(24) {
    width: 5px;
    height: 5px;
    -webkit-animation-name: move-frames-24;
    animation-name: move-frames-24;
    -webkit-animation-duration: 36769ms;
    animation-duration: 36769ms;
    -webkit-animation-delay: 19895ms;
    animation-delay: 19895ms;
}

@-webkit-keyframes move-frames-24 {
    from {
        transform: translate3d(23vw, 50vh, 0);
    }
    to {
        transform: translate3d(26vw, -124vh, 0);
    }
}

@keyframes move-frames-24 {
    from {
        transform: translate3d(23vw, 50vh, 0);
    }
    to {
        transform: translate3d(26vw, -124vh, 0);
    }
}

.circle-container:nth-child(24) .circle {
    -webkit-animation-delay: 422ms;
    animation-delay: 422ms;
}

.circle-container:nth-child(25) {
    width: 7px;
    height: 7px;
    -webkit-animation-name: move-frames-25;
    animation-name: move-frames-25;
    -webkit-animation-duration: 35811ms;
    animation-duration: 35811ms;
    -webkit-animation-delay: 11960ms;
    animation-delay: 11960ms;
}

@-webkit-keyframes move-frames-25 {
    from {
        transform: translate3d(72vw, 50vh, 0);
    }
    to {
        transform: translate3d(100vw, -20vh, 0);
    }
}

@keyframes move-frames-25 {
    from {
        transform: translate3d(72vw, 50vh, 0);
    }
    to {
        transform: translate3d(100vw, -20vh, 0);
    }
}

.circle-container:nth-child(25) .circle {
    -webkit-animation-delay: 2650ms;
    animation-delay: 2650ms;
}

.circle-container:nth-child(26) {
    width: 1px;
    height: 1px;
    -webkit-animation-name: move-frames-26;
    animation-name: move-frames-26;
    -webkit-animation-duration: 30073ms;
    animation-duration: 30073ms;
    -webkit-animation-delay: 25668ms;
    animation-delay: 25668ms;
}

@-webkit-keyframes move-frames-26 {
    from {
        transform: translate3d(11vw, 50vh, 0);
    }
    to {
        transform: translate3d(89vw, -20vh, 0);
    }
}

@keyframes move-frames-26 {
    from {
        transform: translate3d(11vw, 50vh, 0);
    }
    to {
        transform: translate3d(89vw, -20vh, 0);
    }
}

.circle-container:nth-child(26) .circle {
    -webkit-animation-delay: 125ms;
    animation-delay: 125ms;
}

.circle-container:nth-child(27) {
    width: 3px;
    height: 3px;
    -webkit-animation-name: move-frames-27;
    animation-name: move-frames-27;
    -webkit-animation-duration: 33450ms;
    animation-duration: 33450ms;
    -webkit-animation-delay: 19503ms;
    animation-delay: 19503ms;
}

@-webkit-keyframes move-frames-27 {
    from {
        transform: translate3d(36vw, 50vh, 0);
    }
    to {
        transform: translate3d(83vw, -134vh, 0);
    }
}

@keyframes move-frames-27 {
    from {
        transform: translate3d(36vw, 50vh, 0);
    }
    to {
        transform: translate3d(83vw, -134vh, 0);
    }
}

.circle-container:nth-child(27) .circle {
    -webkit-animation-delay: 2446ms;
    animation-delay: 2446ms;
}

.circle-container:nth-child(28) {
    width: 5px;
    height: 5px;
    -webkit-animation-name: move-frames-28;
    animation-name: move-frames-28;
    -webkit-animation-duration: 33480ms;
    animation-duration: 33480ms;
    -webkit-animation-delay: 36274ms;
    animation-delay: 36274ms;
}

@-webkit-keyframes move-frames-28 {
    from {
        transform: translate3d(89vw, 50vh, 0);
    }
    to {
        transform: translate3d(40vw, -10vh, 0);
    }
}

@keyframes move-frames-28 {
    from {
        transform: translate3d(89vw, 60vh, 0);
    }
    to {
        transform: translate3d(40vw, -10vh, 0);
    }
}

.circle-container:nth-child(28) .circle {
    -webkit-animation-delay: 260ms;
    animation-delay: 260ms;
}

.circle-container:nth-child(29) {
    width: 1px;
    height: 1px;
    -webkit-animation-name: move-frames-29;
    animation-name: move-frames-29;
    -webkit-animation-duration: 33359ms;
    animation-duration: 33359ms;
    -webkit-animation-delay: 26159ms;
    animation-delay: 26159ms;
}

@-webkit-keyframes move-frames-29 {
    from {
        transform: translate3d(20vw, 60vh, 0);
    }
    to {
        transform: translate3d(3vw, -20vh, 0);
    }
}

@keyframes move-frames-29 {
    from {
        transform: translate3d(20vw, 60vh, 0);
    }
    to {
        transform: translate3d(3vw, -20vh, 0);
    }
}

.circle-container:nth-child(29) .circle {
    -webkit-animation-delay: 1921ms;
    animation-delay: 1921ms;
}

.circle-container:nth-child(30) {
    width: 7px;
    height: 7px;
    -webkit-animation-name: move-frames-30;
    animation-name: move-frames-30;
    -webkit-animation-duration: 30963ms;
    animation-duration: 30963ms;
    -webkit-animation-delay: 34809ms;
    animation-delay: 34809ms;
}

@-webkit-keyframes move-frames-30 {
    from {
        transform: translate3d(26vw, 60vh, 0);
    }
    to {
        transform: translate3d(31vw, -127vh, 0);
    }
}

@keyframes move-frames-30 {
    from {
        transform: translate3d(26vw, 60vh, 0);
    }
    to {
        transform: translate3d(31vw, -127vh, 0);
    }
}

.circle-container:nth-child(30) .circle {
    -webkit-animation-delay: 116ms;
    animation-delay: 116ms;
}

.circle-container:nth-child(31) {
    width: 8px;
    height: 8px;
    -webkit-animation-name: move-frames-31;
    animation-name: move-frames-31;
    -webkit-animation-duration: 34610ms;
    animation-duration: 34610ms;
    -webkit-animation-delay: 2071ms;
    animation-delay: 2071ms;
}

@-webkit-keyframes move-frames-31 {
    from {
        transform: translate3d(71vw, 60vh, 0);
    }
    to {
        transform: translate3d(24vw, -129vh, 0);
    }
}

@keyframes move-frames-31 {
    from {
        transform: translate3d(71vw, 60vh, 0);
    }
    to {
        transform: translate3d(24vw, -129vh, 0);
    }
}

.circle-container:nth-child(31) .circle {
    -webkit-animation-delay: 2060ms;
    animation-delay: 2060ms;
}

.circle-container:nth-child(32) {
    width: 7px;
    height: 7px;
    -webkit-animation-name: move-frames-32;
    animation-name: move-frames-32;
    -webkit-animation-duration: 29655ms;
    animation-duration: 29655ms;
    -webkit-animation-delay: 4319ms;
    animation-delay: 4319ms;
}

@-webkit-keyframes move-frames-32 {
    from {
        transform: translate3d(100vw, 60vh, 0);
    }
    to {
        transform: translate3d(43vw, -127vh, 0);
    }
}

@keyframes move-frames-32 {
    from {
        transform: translate3d(100vw, 60vh, 0);
    }
    to {
        transform: translate3d(43vw, -127vh, 0);
    }
}

.circle-container:nth-child(32) .circle {
    -webkit-animation-delay: 2523ms;
    animation-delay: 2523ms;
}

.circle-container:nth-child(33) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-33;
    animation-name: move-frames-33;
    -webkit-animation-duration: 36704ms;
    animation-duration: 36704ms;
    -webkit-animation-delay: 6867ms;
    animation-delay: 6867ms;
}

@-webkit-keyframes move-frames-33 {
    from {
        transform: translate3d(52vw, 10vh, 0);
    }
    to {
        transform: translate3d(59vw, -124vh, 0);
    }
}

@keyframes move-frames-33 {
    from {
        transform: translate3d(52vw, 10vh, 0);
    }
    to {
        transform: translate3d(59vw, -124vh, 0);
    }
}

.circle-container:nth-child(33) .circle {
    -webkit-animation-delay: 968ms;
    animation-delay: 968ms;
}

.circle-container:nth-child(34) {
    width: 2px;
    height: 2px;
    -webkit-animation-name: move-frames-34;
    animation-name: move-frames-34;
    -webkit-animation-duration: 29940ms;
    animation-duration: 29940ms;
    -webkit-animation-delay: 4103ms;
    animation-delay: 4103ms;
}

@-webkit-keyframes move-frames-34 {
    from {
        transform: translate3d(14vw, 60vh, 0);
    }
    to {
        transform: translate3d(57vw, -120vh, 0);
    }
}

@keyframes move-frames-34 {
    from {
        transform: translate3d(14vw, 60vh, 0);
    }
    to {
        transform: translate3d(57vw, -120vh, 0);
    }
}

.circle-container:nth-child(34) .circle {
    -webkit-animation-delay: 1924ms;
    animation-delay: 1924ms;
}

.circle-container:nth-child(35) {
    width: 3px;
    height: 3px;
    -webkit-animation-name: move-frames-35;
    animation-name: move-frames-35;
    -webkit-animation-duration: 29308ms;
    animation-duration: 29308ms;
    -webkit-animation-delay: 27420ms;
    animation-delay: 27420ms;
}

@-webkit-keyframes move-frames-35 {
    from {
        transform: translate3d(99vw, 70vh, 0);
    }
    to {
        transform: translate3d(11vw, -117vh, 0);
    }
}

@keyframes move-frames-35 {
    from {
        transform: translate3d(99vw, 70vh, 0);
    }
    to {
        transform: translate3d(11vw, -117vh, 0);
    }
}

.circle-container:nth-child(35) .circle {
    -webkit-animation-delay: 1391ms;
    animation-delay: 1391ms;
}

.circle-container:nth-child(36) {
    width: 1px;
    height: 1px;
    -webkit-animation-name: move-frames-36;
    animation-name: move-frames-36;
    -webkit-animation-duration: 28129ms;
    animation-duration: 28129ms;
    -webkit-animation-delay: 14931ms;
    animation-delay: 14931ms;
}

@-webkit-keyframes move-frames-36 {
    from {
        transform: translate3d(85vw, 70vh, 0);
    }
    to {
        transform: translate3d(49vw, -15vh, 0);
    }
}

@keyframes move-frames-36 {
    from {
        transform: translate3d(85vw, 70vh, 0);
    }
    to {
        transform: translate3d(49vw, -15vh, 0);
    }
}

.circle-container:nth-child(36) .circle {
    -webkit-animation-delay: 2622ms;
    animation-delay: 2622ms;
}

.circle-container:nth-child(37) {
    width: 8px;
    height: 8px;
    -webkit-animation-name: move-frames-37;
    animation-name: move-frames-37;
    -webkit-animation-duration: 31739ms;
    animation-duration: 31739ms;
    -webkit-animation-delay: 6774ms;
    animation-delay: 6774ms;
}

@-webkit-keyframes move-frames-37 {
    from {
        transform: translate3d(87vw, 70vh, 0);
    }
    to {
        transform: translate3d(47vw, -124vh, 0);
    }
}

@keyframes move-frames-37 {
    from {
        transform: translate3d(87vw, 70vh, 0);
    }
    to {
        transform: translate3d(47vw, -124vh, 0);
    }
}

.circle-container:nth-child(37) .circle {
    -webkit-animation-delay: 1043ms;
    animation-delay: 1043ms;
}

.circle-container:nth-child(38) {
    width: 7px;
    height: 7px;
    -webkit-animation-name: move-frames-38;
    animation-name: move-frames-38;
    -webkit-animation-duration: 31444ms;
    animation-duration: 31444ms;
    -webkit-animation-delay: 2704ms;
    animation-delay: 2704ms;
}

@-webkit-keyframes move-frames-38 {
    from {
        transform: translate3d(38vw, 70vh, 0);
    }
    to {
        transform: translate3d(65vw, -13vh, 0);
    }
}

@keyframes move-frames-38 {
    from {
        transform: translate3d(38vw, 70vh, 0);
    }
    to {
        transform: translate3d(65vw, -13vh, 0);
    }
}

.circle-container:nth-child(38) .circle {
    -webkit-animation-delay: 537ms;
    animation-delay: 537ms;
}

.circle-container:nth-child(39) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-39;
    animation-name: move-frames-39;
    -webkit-animation-duration: 34806ms;
    animation-duration: 34806ms;
    -webkit-animation-delay: 12789ms;
    animation-delay: 12789ms;
}

@-webkit-keyframes move-frames-39 {
    from {
        transform: translate3d(14vw, 70vh, 0);
    }
    to {
        transform: translate3d(65vw, -13vh, 0);
    }
}

@keyframes move-frames-39 {
    from {
        transform: translate3d(14vw, 70vh, 0);
    }
    to {
        transform: translate3d(65vw, -13vh, 0);
    }
}

.circle-container:nth-child(39) .circle {
    -webkit-animation-delay: 1906ms;
    animation-delay: 1906ms;
}

.circle-container:nth-child(40) {
    width: 1px;
    height: 1px;
    -webkit-animation-name: move-frames-40;
    animation-name: move-frames-40;
    -webkit-animation-duration: 29173ms;
    animation-duration: 29173ms;
    -webkit-animation-delay: 19022ms;
    animation-delay: 19022ms;
}

@-webkit-keyframes move-frames-40 {
    from {
        transform: translate3d(80vw, 70vh, 0);
    }
    to {
        transform: translate3d(22vw, -131vh, 0);
    }
}

@keyframes move-frames-40 {
    from {
        transform: translate3d(80vw, 80vh, 0);
    }
    to {
        transform: translate3d(22vw, -131vh, 0);
    }
}

.circle-container:nth-child(40) .circle {
    -webkit-animation-delay: 84ms;
    animation-delay: 84ms;
}

.circle-container:nth-child(41) {
    width: 8px;
    height: 8px;
    -webkit-animation-name: move-frames-41;
    animation-name: move-frames-41;
    -webkit-animation-duration: 35680ms;
    animation-duration: 35680ms;
    -webkit-animation-delay: 39ms;
    animation-delay: 39ms;
}

@-webkit-keyframes move-frames-41 {
    from {
        transform: translate3d(97vw, 80vh, 0);
    }
    to {
        transform: translate3d(77vw, -15vh, 0);
    }
}

@keyframes move-frames-41 {
    from {
        transform: translate3d(97vw, 80vh, 0);
    }
    to {
        transform: translate3d(77vw, -15vh, 0);
    }
}

.circle-container:nth-child(41) .circle {
    -webkit-animation-delay: 35ms;
    animation-delay: 35ms;
}

.circle-container:nth-child(42) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-42;
    animation-name: move-frames-42;
    -webkit-animation-duration: 28175ms;
    animation-duration: 28175ms;
    -webkit-animation-delay: 109ms;
    animation-delay: 109ms;
}

@-webkit-keyframes move-frames-42 {
    from {
        transform: translate3d(40vw, 80vh, 0);
    }
    to {
        transform: translate3d(84vw, -131vh, 0);
    }
}

@keyframes move-frames-42 {
    from {
        transform: translate3d(40vw, 80vh, 0);
    }
    to {
        transform: translate3d(84vw, -131vh, 0);
    }
}

.circle-container:nth-child(42) .circle {
    -webkit-animation-delay: 122ms;
    animation-delay: 122ms;
}

.circle-container:nth-child(43) {
    width: 8px;
    height: 8px;
    -webkit-animation-name: move-frames-43;
    animation-name: move-frames-43;
    -webkit-animation-duration: 33812ms;
    animation-duration: 33812ms;
    -webkit-animation-delay: 24ms;
    animation-delay: 24ms;
}

@-webkit-keyframes move-frames-43 {
    from {
        transform: translate3d(82vw, 80vh, 0);
    }
    to {
        transform: translate3d(43vw, -137vh, 0);
    }
}

@keyframes move-frames-43 {
    from {
        transform: translate3d(82vw, 80vh, 0);
    }
    to {
        transform: translate3d(43vw, -137vh, 0);
    }
}

.circle-container:nth-child(43) .circle {
    -webkit-animation-delay: 6ms;
    animation-delay: 6ms;
}

.circle-container:nth-child(44) {
    width: 3px;
    height: 3px;
    -webkit-animation-name: move-frames-44;
    animation-name: move-frames-44;
    -webkit-animation-duration: 28517ms;
    animation-duration: 28517ms;
    -webkit-animation-delay: 35ms;
    animation-delay: 35ms;
}

@-webkit-keyframes move-frames-44 {
    from {
        transform: translate3d(82vw, 80vh, 0);
    }
    to {
        transform: translate3d(75vw, -118vh, 0);
    }
}

@keyframes move-frames-44 {
    from {
        transform: translate3d(82vw, 80vh, 0);
    }
    to {
        transform: translate3d(75vw, -118vh, 0);
    }
}

.circle-container:nth-child(44) .circle {
    -webkit-animation-delay: 92ms;
    animation-delay: 92ms;
}

.circle-container:nth-child(45) {
    width: 6px;
    height: 6px;
    -webkit-animation-name: move-frames-45;
    animation-name: move-frames-45;
    -webkit-animation-duration: 35066ms;
    animation-duration: 35066ms;
    -webkit-animation-delay: 26ms;
    animation-delay: 26ms;
}

@-webkit-keyframes move-frames-45 {
    from {
        transform: translate3d(90vw, 80vh, 0);
    }
    to {
        transform: translate3d(5vw, -137vh, 0);
    }
}

@keyframes move-frames-45 {
    from {
        transform: translate3d(90vw, 80vh, 0);
    }
    to {
        transform: translate3d(5vw, -137vh, 0);
    }
}

.circle-container:nth-child(45) .circle {
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms;
}

.circle-container:nth-child(46) {
    width: 2px;
    height: 2px;
    -webkit-animation-name: move-frames-46;
    animation-name: move-frames-46;
    -webkit-animation-duration: 35941ms;
    animation-duration: 35941ms;
    -webkit-animation-delay: 276ms;
    animation-delay: 276ms;
}

@-webkit-keyframes move-frames-46 {
    from {
        transform: translate3d(11vw, 90vh, 0);
    }
    to {
        transform: translate3d(22vw, -13vh, 0);
    }
}

@keyframes move-frames-46 {
    from {
        transform: translate3d(11vw, 90vh, 0);
    }
    to {
        transform: translate3d(22vw, -13vh, 0);
    }
}

.circle-container:nth-child(46) .circle {
    -webkit-animation-delay: 26ms;
    animation-delay: 26ms;
}

.circle-container:nth-child(47) {
    width: 6px;
    height: 6px;
    -webkit-animation-name: move-frames-47;
    animation-name: move-frames-47;
    -webkit-animation-duration: 33084ms;
    animation-duration: 33084ms;
    -webkit-animation-delay: 122ms;
    animation-delay: 122ms;
}

@-webkit-keyframes move-frames-47 {
    from {
        transform: translate3d(28vw, 90vh, 0);
    }
    to {
        transform: translate3d(34vw, -130vh, 0);
    }
}

@keyframes move-frames-47 {
    from {
        transform: translate3d(28vw, 90vh, 0);
    }
    to {
        transform: translate3d(34vw, -130vh, 0);
    }
}

.circle-container:nth-child(47) .circle {
    -webkit-animation-delay: 28ms;
    animation-delay: 28ms;
}

.circle-container:nth-child(48) {
    width: 7px;
    height: 7px;
    -webkit-animation-name: move-frames-48;
    animation-name: move-frames-48;
    -webkit-animation-duration: 29691ms;
    animation-duration: 29691ms;
    -webkit-animation-delay: 94ms;
    animation-delay: 94ms;
}

@-webkit-keyframes move-frames-48 {
    from {
        transform: translate3d(43vw, 90vh, 0);
    }
    to {
        transform: translate3d(86vw, -122vh, 0);
    }
}

@keyframes move-frames-48 {
    from {
        transform: translate3d(43vw, 90vh, 0);
    }
    to {
        transform: translate3d(86vw, -122vh, 0);
    }
}

.circle-container:nth-child(48) .circle {
    -webkit-animation-delay: 156ms;
    animation-delay: 156ms;
}

.circle-container:nth-child(49) {
    width: 2px;
    height: 2px;
    -webkit-animation-name: move-frames-49;
    animation-name: move-frames-49;
    -webkit-animation-duration: 35846ms;
    animation-duration: 35846ms;
    -webkit-animation-delay: 14ms;
    animation-delay: 14ms;
}

@-webkit-keyframes move-frames-49 {
    from {
        transform: translate3d(60vw, 90vh, 0);
    }
    to {
        transform: translate3d(21vw, -20vh, 0);
    }
}

@keyframes move-frames-49 {
    from {
        transform: translate3d(60vw, 90vh, 0);
    }
    to {
        transform: translate3d(21vw, -20vh, 0);
    }
}

.circle-container:nth-child(49) .circle {
    -webkit-animation-delay: 1094ms;
    animation-delay: 1094ms;
}

.circle-container:nth-child(50) {
    width: 2px;
    height: 2px;
    -webkit-animation-name: move-frames-50;
    animation-name: move-frames-50;
    -webkit-animation-duration: 28091ms;
    animation-duration: 28091ms;
    -webkit-animation-delay: 85ms;
    animation-delay: 85ms;
}

@-webkit-keyframes move-frames-50 {
    from {
        transform: translate3d(30vw, 90vh, 0);
    }
    to {
        transform: translate3d(36vw, -132vh, 0);
    }
}

@keyframes move-frames-50 {
    from {
        transform: translate3d(30vw, 90vh, 0);
    }
    to {
        transform: translate3d(36vw, -132vh, 0);
    }
}

.circle-container:nth-child(50) .circle {
    -webkit-animation-delay: 727ms;
    animation-delay: 727ms;
}

.circle-container:nth-child(51) {
    width: 3px;
    height: 3px;
    -webkit-animation-name: move-frames-51;
    animation-name: move-frames-51;
    -webkit-animation-duration: 31663ms;
    animation-duration: 31663ms;
    -webkit-animation-delay: 28ms;
    animation-delay: 28ms;
}

@-webkit-keyframes move-frames-51 {
    from {
        transform: translate3d(88vw, 10vh, 0);
    }
    to {
        transform: translate3d(52vw, -125vh, 0);
    }
}

@keyframes move-frames-51 {
    from {
        transform: translate3d(88vw, 10vh, 0);
    }
    to {
        transform: translate3d(52vw, -125vh, 0);
    }
}

.circle-container:nth-child(51) .circle {
    -webkit-animation-delay: 1809ms;
    animation-delay: 1809ms;
}

.circle-container:nth-child(52) {
    width: 4px;
    height: 4px;
    -webkit-animation-name: move-frames-52;
    animation-name: move-frames-52;
    -webkit-animation-duration: 30367ms;
    animation-duration: 30367ms;
    -webkit-animation-delay: 23ms;
    animation-delay: 23ms;
}

@-webkit-keyframes move-frames-52 {
    from {
        transform: translate3d(20vw, 90vh, 0);
    }
    to {
        transform: translate3d(62vw, -120vh, 0);
    }
}

@keyframes move-frames-52 {
    from {
        transform: translate3d(20vw, 40vh, 0);
    }
    to {
        transform: translate3d(62vw, -120vh, 0);
    }
}

.circle-container:nth-child(52) .circle {
    -webkit-animation-delay: 2931ms;
    animation-delay: 2931ms;
}

.circle-container:nth-child(53) {
    width: 2px;
    height: 2px;
    -webkit-animation-name: move-frames-53;
    animation-name: move-frames-53;
    -webkit-animation-duration: 29248ms;
    animation-duration: 29248ms;
    -webkit-animation-delay: 20ms;
    animation-delay: 20ms;
}

@-webkit-keyframes move-frames-53 {
    from {
        transform: translate3d(50vw, 40vh, 0);
    }
    to {
        transform: translate3d(19vw, -121vh, 0);
    }
}

@keyframes move-frames-53 {
    from {
        transform: translate3d(50vw, 90vh, 0);
    }
    to {
        transform: translate3d(19vw, -121vh, 0);
    }
}

.circle-container:nth-child(53) .circle {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.circle-container:nth-child(54) {
    width: 5px;
    height: 5px;
    -webkit-animation-name: move-frames-54;
    animation-name: move-frames-54;
    -webkit-animation-duration: 29050ms;
    animation-duration: 29050ms;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

@-webkit-keyframes move-frames-54 {
    from {
        transform: translate3d(56vw, 90vh, 0);
    }
    to {
        transform: translate3d(22vw, -118vh, 0);
    }
}

@keyframes move-frames-54 {
    from {
        transform: translate3d(56vw, 90vh, 0);
    }
    to {
        transform: translate3d(22vw, -118vh, 0);
    }
}

.circle-container:nth-child(54) .circle {
    -webkit-animation-delay: 2847ms;
    animation-delay: 2847ms;
}

.circle-container:nth-child(55) {
    width: 1px;
    height: 1px;
    -webkit-animation-name: move-frames-55;
    animation-name: move-frames-55;
    -webkit-animation-duration: 33769ms;
    animation-duration: 33769ms;
    -webkit-animation-delay: 840ms;
    animation-delay: 840ms;
}

@-webkit-keyframes move-frames-55 {
    from {
        transform: translate3d(92vw, 90vh, 0);
    }
    to {
        transform: translate3d(71vw, -126vh, 0);
    }
}

@keyframes move-frames-55 {
    from {
        transform: translate3d(92vw, 90vh, 0);
    }
    to {
        transform: translate3d(71vw, -126vh, 0);
    }
}

.circle-container:nth-child(55) .circle {
    -webkit-animation-delay: 440ms;
    animation-delay: 440ms;
}

.circle-container:nth-child(56) {
    width: 2px;
    height: 2px;
    -webkit-animation-name: move-frames-56;
    animation-name: move-frames-56;
    -webkit-animation-duration: 33635ms;
    animation-duration: 33635ms;
    -webkit-animation-delay: 1846ms;
    animation-delay: 1846ms;
}

@-webkit-keyframes move-frames-56 {
    from {
        transform: translate3d(17vw, 90vh, 0);
    }
    to {
        transform: translate3d(97vw, -135vh, 0);
    }
}

@keyframes move-frames-56 {
    from {
        transform: translate3d(17vw, 90vh, 0);
    }
    to {
        transform: translate3d(97vw, -135vh, 0);
    }
}

.circle-container:nth-child(56) .circle {
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
}

.circle-container:nth-child(57) {
    width: 8px;
    height: 8px;
    -webkit-animation-name: move-frames-57;
    animation-name: move-frames-57;
    -webkit-animation-duration: 35849ms;
    animation-duration: 35849ms;
    -webkit-animation-delay: 920ms;
    animation-delay: 920ms;
}

@-webkit-keyframes move-frames-57 {
    from {
        transform: translate3d(62vw, 90vh, 0);
    }
    to {
        transform: translate3d(80vw, -20vh, 0);
    }
}

@keyframes move-frames-57 {
    from {
        transform: translate3d(62vw, 90vh, 0);
    }
    to {
        transform: translate3d(80vw, -20vh, 0);
    }
}

.circle-container:nth-child(57) .circle {
    -webkit-animation-delay: 1380ms;
    animation-delay: 1380ms;
}

.circle-container:nth-child(58) {
    width: 6px;
    height: 6px;
    -webkit-animation-name: move-frames-58;
    animation-name: move-frames-58;
    -webkit-animation-duration: 28949ms;
    animation-duration: 28949ms;
    -webkit-animation-delay: 640ms;
    animation-delay: 640ms;
}

@-webkit-keyframes move-frames-58 {
    from {
        transform: translate3d(79vw, 80vh, 0);
    }
    to {
        transform: translate3d(10vw, -10vh, 0);
    }
}

@keyframes move-frames-58 {
    from {
        transform: translate3d(79vw, 80vh, 0);
    }
    to {
        transform: translate3d(10vw, -10vh, 0);
    }
}

.circle-container:nth-child(58) .circle {
    -webkit-animation-delay: 249ms;
    animation-delay: 249ms;
}

.circle-container:nth-child(59) {
    width: 1px;
    height: 1px;
    -webkit-animation-name: move-frames-59;
    animation-name: move-frames-59;
    -webkit-animation-duration: 28471ms;
    animation-duration: 28471ms;
    -webkit-animation-delay: 495ms;
    animation-delay: 495ms;
}

@-webkit-keyframes move-frames-59 {
    from {
        transform: translate3d(49vw, 80vh, 0);
    }
    to {
        transform: translate3d(7vw, -123vh, 0);
    }
}

@keyframes move-frames-59 {
    from {
        transform: translate3d(49vw, 80vh, 0);
    }
    to {
        transform: translate3d(7vw, -123vh, 0);
    }
}

.circle-container:nth-child(59) .circle {
    -webkit-animation-delay: 3922ms;
    animation-delay: 3922ms;
}

.circle-container:nth-child(60) {
    width: 6px;
    height: 6px;
    -webkit-animation-name: move-frames-60;
    animation-name: move-frames-60;
    -webkit-animation-duration: 28110ms;
    animation-duration: 28110ms;
    -webkit-animation-delay: 682ms;
    animation-delay: 682ms;
}

@-webkit-keyframes move-frames-60 {
    from {
        transform: translate3d(96vw, 10vh, 0);
    }
    to {
        transform: translate3d(8vw, -13vh, 0);
    }
}

@keyframes move-frames-60 {
    from {
        transform: translate3d(96vw, 10vh, 0);
    }
    to {
        transform: translate3d(8vw, -13vh, 0);
    }
}

.circle-container:nth-child(60) .circle {
    -webkit-animation-delay: 387ms;
    animation-delay: 387ms;
}


